@using TraversalProject.EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyActiveReservation";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}


<h1>Onaylanan Rezervasyonlar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon</th>
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationID</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservationDate.ToString("dd/MM/yyyy")</td>
            <td>@item.Status </td>
        </tr>
    }

</table>



