@using TraversalProject.EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "UserReservation";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>UserReservation</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Rota</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ReservationID</td>
            <td>@item.AppUser.NameSurname</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservationDate.ToString("dd/MM/yyyy")</td>
            <td><a href="#" class="btn btn-outline-warning">Detaylar</a></td>
        </tr>
    }
</table>
