
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using TraversalProject.EntityLayer.Concrete
@model Destination


<h1>Update</h1>
<form method="post">
    @Html.HiddenFor(X => X.DestinationId)
    <div class="form-group mb-3">
        <label>Şehir</label>
        <input type="text" name="City" class="form-control" value="@Model.City" />
    </div>

    <div class="form-group mb-3">
        <label>Gün Gece</label>
        <input type="text" name="DayNight" class="form-control" value="@Model.DayNight" />
    </div>

    <div class="form-group mb-3">
        <label>Fiyat</label>
        <input type="text" name="Price" class="form-control" value="@Model.Price" />
    </div>

    <div class="form-group mb-3">
        <label>Ana Görsel</label>
        <input type="text" name="ImageUrl" class="form-control" value="@Model.ImageUrl" />
    </div>

    <div class="form-group mb-3">
        <label>Kapasite</label>
        <input type="text" name="Capacity" class="form-control" value="@Model.Capacity" />
    </div>

    <div class="form-group mb-3">
        <label>Kapak Görseli</label>
        <input type="text" name="CoverImageUrl" class="form-control" value="@Model.CoverImageUrl" />
    </div>

    <div class="form-group mb-3">
        <label>Başlık</label>
        <input type="text" name="Title" class="form-control" value="@Model.Title" />
    </div>

    <div class="form-group mb-3">
        <label>Açıklama</label>
        <textarea name="Description" cols="30" rows="5" class="form-control">@Model.Description</textarea>
    </div>

    <button class="btn btn-success">Güncelle</button>
</form>



